doctype html
html(lang='en')
  head
    title CarBlocker 중고차 거래
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='js/jquery-2.1.4.min.js')
    script(src='js/bootstrap.min.js')
    // ===============================================================================================
    script(src='vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(src='vendor/bootstrap/js/popper.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='vendor/daterangepicker/moment.min.js')
    script(src='vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='js/main.js')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/css-hamburgers/hamburgers.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/animsition/css/animsition.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/daterangepicker/daterangepicker.css')
    // ===============================================================================================
    style
      include css/util.css
      include css/main.css
      include fonts/font-awesome-4.7.0/css/font-awesome.min.css
      include fonts/Linearicons-Free-v1.0.0/icon-font.min.css
    style.
      /* Add a gray background color and some padding to the footer */
      footer {
      background-color: #f2f2f2;
      padding: 25px;
      }
      .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
      }
      /* Hide the carousel text when the screen is less than 600 pixels wide */
      @media (max-width: 600px) {
      .carousel-caption {
      display: none;
      }
      }
      body {font-family: Arial, Helvetica, sans-serif;}
      * {box-sizing: border-box}
      /* Full-width input fields */
      input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      }
      .foot-a-style{
      color:white;
      }
      input {
      border-radius:10px;
      }
      input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
      }
      hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
      }
      /* Set a style for all buttons */
      button {
      background-color: #949494;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border-radius: 10px;
      cursor: pointer;
      opacity: 0.9;
      }
      button:hover {
      opacity:1;
      }
      /* Float cancel and signup buttons and add an equal width */
      .signupbtn {
      float: right;
      width: 20%;
      }
      /* Add padding to container elements */
      .container {
      padding: 16px;
      }
      /* Clear floats */
      .clearfix::after {
      content: "";
      clear: both;
      display: table;
      }
      /* Change styles for cancel button and signup button on extra small screens */
      @media screen and (max-width: 300px) {
      .signupbtn {
      width: 20%;
      }
      }
      .center{
      height: 500px;
      }
      .custom-select {
      color:black;
      position: relative;
      font-family: Arial;
      }
      .custom-select select {
      display: none; /*hide original SELECT element:*/
      }
      .select-selected {
      border-radius: 10px;
      background-color:  #f1f1f1;
      }
      .car_side-bar{
      border:2px solid #646464;
      border-left-color: white;
      border-left-color: white;
      border-bottom-color: white;
      text-align: center;
      }
      .car-list{
      border:2px solid #646464;
      border-right-color: white;
      border-bottom-color: white;
      height: auto;
      }
      .car-bundle{
      width:100%;
      height: auto;
      }
      .car-img{
      width:24%;
      display:inline-block;
      }
      .page-btn {
      border: none;
      outline: none;
      padding: 10px 16px;
      background-color: #f1f1f1;
      display:inline-block;
      cursor: pointer;
      font-size: 18px;
      }

      /* Style the active class, and buttons on mouse-over */
      .active, .page-btn:hover {
      background-color: #942020;
      color: white;
      }

      .photo{
      width:50%;
      height:400px;
      border: 1px solid #f1f1f1;
      display: inline-block;
      background-color: black;
      }
      .information{
      margin-left:5%;
      display: inline-block;
      width: 40%;
      height:400px;
      border: 1px solid #777777;
      }
      .explain{
      size: auto;
      min-height: 100px;
      }
      .explain h4{
      margin-left:5%;
      margin-right:5%;
      margin-bottom:5%;
      }
      #car-photo{
      margin-left: auto;
      margin-right: auto;
      display:block;
      max-width: 100%;
      max-height: 100%;
      height: 400px;
      }

      .drop-form{
      position:absolute;
      width:137px;
      margin-top:-11%;
      margin-left:78%;
      }
      .dropbtn {
      width:100%;
      }
      .modibtn {
      margin-top: 6%;
      margin-left: 0%;
      width: 15%;
      }

      .inf {
      display: inline;
      margin-top: 0%;
      }
      .t_img, .t_kind, .t_manu, .t_state {
      text-align: center;
      background-color: #f1f1f1;
      }
      table {
      margin-left: auto;
      margin-right: auto;
      }
      td {
      text-align: center;
      }
      .t_img {
      width: 100px;
      }
      .t_kind {
      width: 350px;
      }
      .t_manu {
      width: 200px;
      }
      .t_state {
      width: 200px;
      }
  block content
  footer.container-fluid.text-center(style='background-color:#4272d7; color:white')
    .col-sm-2
    .col-sm-2
      h3 차량
      a.foot-a-style(href='/search') 차량 검색
      br
    .col-sm-2
      h3 내 차 팔기
      a.foot-a-style(href='/sell') 등록하기
      br
      a.foot-a-style(href='#') 비교하기
      br
    .col-sm-2
      h3 고객센터
      a.foot-a-style(href='#')
        | Q&A
        a.foot-a-style(href='#') 공지사항
        br
    .col-sm-2
      h3 마이페이지
      a.foot-a-style(href='#') 회원정보 변경
      br
    .col-sm-2
