extends layout
block content
  body
    nav.navbar.navbar-inverse(style='width: 200%;background-color:#4272d7')
      .container-fluid
        .col-sm-1
        .col-sm-1
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/main', style='font-size:300%; background-color:#4272d7; color:white')
            strong CarBlocker
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.nav-a-style(href='/search', style='color:white; margin-top:20px') 차량
            li
              a.nav-a-style(href='/sell', style='color:white; margin-top:20px') 내 차 팔기
            li
              a.nav-a-style(href='#', style='color:white; margin-top:20px') 고객센터
            if(user)
              li
                a.nav-a-style(href='/mypage/'+user.num, style='color:white; margin-left:0px; margin-top:20px') 마이페이지
              li
                a.nav-a-style(href='/logout', style='color:white; margin-left:0px; margin-top:20px') 로그아웃
    form
      .container(style='min-height:400px')
        .col-sm-2
          a(href='/mypage/'+user.num , style='color:black;')
            h2
              strong 마이페이지
          hr
          a(href='/mypage2')
            h3 회원정보 변경
        .col-sm-10(id='mycar')
          h2
            strong= user.name + '님'
          hr(style='margin-bottom:0%;')
          .container(style='width:100%')
            h4.inf= '이메일 : ' + user.username
          if(cars)
            hr(style='margin-top:0%; margin-bottom:0%;')
            .container(style='width:100%')
              h4
                strong 내 차 현황
              table(border='1')
                tr
                  th.t_img 사진
                  th.t_kind 차종
                  th.t_manu 제조사
                  th.t_state 상태
                each car in cars
                  tr
                    td
                      img(src='/'+car.carImg, style='width:100px;height:100px;')
                    td
                      h4= car.model
                    td
                      h4= car.manu
                    td
                      if(car.state==0)
                        h4 판매중
                      else
                        h4 판매완료
